<div class="sidebar">
  <div class="container sidebar-sticky">
    <!-- Portrait -->
    <center>
      <img src=" {{ site.url }}/images/profile.jpg" alt="Portrait" WIDTH=200 style="margin-bottom: 8px;border-radius:30%!important;">
    </center>
    

    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead" style="color: floralwhite; font-size:larger">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      <center>
        <a class="sidebar-nav-item" style="color:darkgray">name.surname at polito.it</a>
        <br>
        <!-- CV -->
        <a href="{{ site.url }}/files/CV_deboracaldarola.pdf" onclick="_gaq.push(['_trackEvent', 'Click', 'CV Clicked']);" style="margin-right:14px; " target="_blank" rel="noopener noreferrer">
          <i class="ai ai-cv" style="font-size: 32px;"></i>
        </a> 

        <!-- Github -->
        <a class="sidebar-nav-icon" href="https://github.com/debcaldarola" onclick="_gaq.push(['_trackEvent', 'Click', 'git Clicked']);" style="margin-right:14px;" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github" style="font-size:32px;"></i>
          <!-- color: #A7A499" -->
        </a>

        <!-- Scholar -->
        <a href="https://scholar.google.com/citations?user=rX-VwlcAAAAJ&hl" onclick="_gaq.push(['_trackEvent', 'Click', 'Scholar Clicked']);" style="margin-right:14px;" target="_blank" rel="noopener noreferrer">
          <i class="ai ai-google-scholar big-icon" style="font-size:32px;"></i>
        </a>

        <!-- Twitter -->
        <a href="https://twitter.com/debcaldarola" onclick="_gaq.push(['_trackEvent', 'Click', 'Twitter Clicked']);" style="margin-right:14px;" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-twitter" style="font-size:32px;"></i>
        </a>

        <!-- Linkedin -->
        <a href="https://www.linkedin.com/in/debora-caldarola" onclick="_gaq.push(['_trackEvent', 'Click', 'Linkedin Clicked']);" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin" style="font-size:32px;"></i>
        </a>
      </center>

      <a class="sidebar-nav-item" href="{{ site.url }}">Home</a>
      <!-- {% if page.url == site.url %} active{% endif %} -->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- <a class="sidebar-nav-item" href="{{ site.baseurl.news }}">News</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl.publications }}">Publications</a> -->


      
      
      
      <!--<a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>-->
      <span class="sidebar-nav-item" style="font-size:18px">Last updated {{ site.version }}</span>
    </nav>

    <p style="font-size:13px">Theme based on <a href="https://github.com/mdo">Mark Otto's</a> <a href="">Hyde</a>.<br>&copy;{{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
